<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>total count </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>The total number of folloeers are:<%= data %></h1>
    <form action="/user/new" method="get">
    <button>join us!!</button>
    </form>
    <br><br>
    <button><a href="http://localhost:3000/user">Show User</a></button>
    
</body>
</html>